<div style="background-color: #555555; padding: 10px;font-family:sans-serif;font-size:15px;line-height:20px;text-align:left; margin: -10px">
	<div style="background-color: #000000; margin: 0 auto;">
		<div style="color: #6a6a6a; padding: 10px;">
			<h2 style="margin: 0 0 10px 0; font-size: 18px; line-height: 21px; font-weight: bold; display: inline;">
				<a href="https://news.ycombinator.com/item?id={{objectID}}" title="{{title}}" style="color:#ffffff; text-decoration: none;">{{title}}</a>
				&nbsp;-&nbsp;
				{% if url != null %}
					<a href="{{url}}" title="{{title}}" style="color: #ff0000;">Direct Link</a>
				{% endif %}
			</h2>
			<span>{{points}}p&nbsp;|&nbsp;{{num_comments}}c
				{% if url != null %} | {{url | replace: "https://www.", "" | replace: "http://www.", "" | replace: "https://", "" | replace: "http://", "" | slice: 0, 15}}
				{%endif %}
			</span>
		</div>
		{% if num_comments > 0 %}
			{% if p1D1 %}
				<div style=" color: #ffffff; padding: 10px; width: auto; background-color: #333333; max-width: 100%; margin: 0 10px 0 10px; border-left: 2px solid red;">
					{{p1D1.text}}&nbsp;-&nbsp;<span style="color: red; font-weight: bold;">{{p1D1.by}}</span>
				</div>
			{% endif %}
			{% if p1D2 %}
				<div style=" color: #ffffff; padding: 10px; width: auto; background-color:#333333; max-width: 100%; margin: 0 10px 0 20px; border-left: 2px solid purple; ">
					{{p1D2.text}} - <span style="color: purple; font-weight: bold;">{{p1D2.by}}</span>
				</div>
			{% endif %}
			{% if p2D1 %}
				<div style=" color: #ffffff; padding: 10px; width: auto; background-color: #333333; max-width:100%; margin: 0 10px 0 10px; border-left: 2px solid red; ">
					{{p2D1.text}} - <span style="color: red;font-weight: bold;">{{p2D1.by}}</span>
				</div>
			{% endif %}
			{% if p2D2 %}
				<div style=" color: #ffffff; padding: 10px; width: auto; background-color: #333333; max-width: 100%; margin: 0 10px 0 20px; border-left: 2px solid purple; ">
					{{p2D2.text}} - <span style="color: purple;font-weight: bold;">{{p2D2.by}}</span>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>